/*预定义样式开始*/
*{
	margin:0px;
	padding:0px;
}
.st_max img{
	transition:margin 0.3s;
}
.mt10{
	margin-top:10px;
}
.mr10{
	margin-right:10px;
}
.ml10{
	margin-left:10px;
}
a{
	text-decoration:none;
}
ul li{
	list-style:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
/*预定义样式结束*/

#max{											/*最大的盒子*/
	width:100%;									
	height:670px;
	/*border: 1px solid red;*/

}

/*头部样式*/

/*头1开始*/

.tou1{											/*导航条1*/
	width:100%;
	height:45px;
	/*border: 1px solid red;*/
	background:#0092D8;
}
.tou1_l{
	width:120px;
	height:100%;
	/*border: 1px solid red;*/
}
.tou1_l img{
	width:100%;
	height:45px;
}
.tou1_c{
	width:50%;
	height:100%;
	/*border: 1px solid red;*/
	
}
.tou1_c ul li{
	float:left;
	padding:0 30px;
	line-height:45px;
}
.tou1_c a{
	color:#63BFF0;
	font-size:13px;
}
.tou1_c a:hover{
	color:#fff;
}
.tou1_r{
	width:285px;
	height:45px;
	/*border: 1px solid red;*/
}
.tou1_r_1{
	width:65px;
	height:45px;
	/*border: 1px solid red;*/
}

.tou1_r_4{
	width:88px;
	height:45px;
	/*border: 1px solid red;*/
}


.tou1_r_1:hover{
	background:#005F8E;
}
.tou1_r_4:hover{
	background:#005F8E;
}
.tou1_r_4 span{
	display:block;
	margin:15px 0px 0px 28px;
}
.gwctc{											/*购物车弹窗*/
	width:360px;
	height:80px;
	border: 1px solid #ccc;
	position:absolute;
	top:45px;
	left:898px;
	background:#fff;
	display:none;
}
.gwctc span{
	display:block;
	margin-left:95px;
	line-height:80px;
	font-size:14px;
}
.tc3:hover .gwctc{
	display:block;
}
.sjtc{												/*二维码弹窗*/
	width:367px;
	height:253px;
	border: 1px solid #ccc;					
	position:absolute;
	top:45px;
	left:825px;
	display:none;
}
.tc2:hover .sjtc{
	display:block;
}
.dltc{												/*登录弹窗*/
	width:250px;
	height:233px;
	border: 1px solid #ddd;
	position:absolute;
	top:45px;
	left:1097px;
	display:none;
	background:#fff;
}
.tou1_r_4:hover .dltc{
	display:block;
}
.dltc ul li{
	width:230px;
	height:38px;
	border-bottom: 1px solid #ccc;
	font-size:14px;
	line-height:38px;
	padding-left:25px;
}
.dw:hover{
	background:#aaa;
}
.bs1:hover .bs2{
	color:#000;
	background:#eee;
}

.sstb{
	display:block;
	width:25px;
	height:25px;
	position:absolute;
	top:12px;
	left:1085px;
}
.sstc{
	width:225px;
	height:44px;
	/*border:1px solid red;*/
	position:absolute;
	top:-2px;
	left:845px;
}
.sstc input{
	
	width:220px;
	height:43px;
}
.tou1_r_1 .ssss{
	display:block;
	width:25px;
	height:44px;
	background:red;
}



/*头1结束*/

/*头2开始*/

.tou2{
	width:100%;
	height:25px;
	/*border:1px solid red;*/
	background:#003B66;
	color:#fff;
	letter-spacing:2px;
}
.tou2 marquee{
	font-size:14px;
	line-height:25px;
	text-align:center;
	
}

/*头2结束*/

/*头3开始*/

.st_max{
	width:1200px;
	height:1530px;
	/*border:1px solid red;*/
	margin:20px auto 0px;
}
.top{
	width:100%;
	height:84px;
	border:1px solid #ccc;
	background:#fff;
}
.top_t{
	width:100%;
	height:40px;
	/*border:1px solid red;*/
}
.top_b{
	width:100%;
	height:40px;
	border-top:1px solid #ccc;
}
.top a{
	color:#525858;
	line-height:40px;
	font-size:13px;
	padding:15px;
}
.top a:hover{
	color:#3F99D6;
}
.top span{
	font-size:13px;
	color:#999;
}
.top2{
	width:100%;
	height:40px;
	border:1px solid #ccc;
	background:#fff;
	margin-top:20px;
}
.top2 a{
	color:#3F99D6;
	line-height:40px;
	font-size:13px;
	margin-left:30px;
}

.sp_max{
	width:100%;
	
	margin-top:10px;
	/*border:1px solid red;*/
}
.sp_max ul li{
	width:290px;
	height:440px;
	/*border:1px solid red;*/
	background:#fff;
	text-align:center;
	float:left;
	margin:0px 8px 10px 0px;
}
.r_t{
	width:75px;
	height:25px;
	/*border:1px solid red;*/
	position:relative;
	top:0px;
	left:214px;
	background:#FF6600;
	text-align:center;
}
.r_t span{
	color:#fff;
	font-size:12px;
	line-height:25px;
}
ul li img{
	width:240px;
	height:240px;
}
.jg_pj{
	width:289px;
	height:25px;
	/*border:1px solid red;*/
}
.jg_pj h3{
	color:red;
	line-height:25px;	
}
.jg_pj h5{
	color:#bbb;
	line-height:25px;	
}
.sp_max ul li a{
	color:#000;
	line-height:25px;
}
.sp_max ul li a:hover{
	color:#00AEE7;
}
.zi{
	color:#aaa;
	font-size:12px;
}
.juan{
	width:288px;
	height:20px;
	/*border:1px solid red;*/
}
.ziying{
	display:block;
	width:35px;
	height:15px;
	border:1px solid red;	/*自营边框*/
	text-align:center;
	font-size:12px;
	color:red;
	margin-left:10px;
}
.yongjuan{
	display:block;
	width:60px;
	height:17px;
	background:red;
	text-align:center;
	font-size:12px;
	color:#fff;
}
.gwc_db{
	width:288px;
	height:20px;
	margin-top:10px;
	/*border:1px solid red;*/
}
.gwc_db .gwc{
	width:80px;
	height:18px;
	/*border:1px solid red;*/
	background:url('../Images/ssgwc.png') no-repeat 1px 2px;
}
.gwc_db .gwc span{
	font-size:13px;
}
.gwc:hover{
	background:url('../Images/ssgwch.png') no-repeat 1px 2px;
}
.db{
	width:30px;
	height:18px;
	/*border:1px solid red;*/
	font-size:14px;
}


/*底部样式开始*/
.foot{
	width:1200px;
	height:80px;
	background:#fff;
	/*border:1px solid red;*/
	margin:20px auto 0px;
	
}
.foot_t{
	width:100%;
	height:40px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	
	
}
.foot_t ul li{
	width:148px;
	height:38px;
	/*border:1px solid red;*/
	float:left;
	text-align:center;
	color:#3F3946;
	line-height:40px;
	font-size:13px;
}

.foot_t ul li:hover{
	color:red;
}
.foot_b{
	width:100%;
	height:30px;
	/*border:1px solid red;*/

	
}
.foot_b img{
	width:20px;
	margin-top:5px;
}
.foot_b span{
	font-size:13px;
	color:#999;
}
.foot_b a{
	font-size:13px;
	color:#999;
}
.foot_b a:hover{
	color:red;
}
/*底部样式结束*/