/*预定义样式开始*/
*{
	margin:0px;
	padding:0px;
}
.st_max img{
	transition:margin 0.3s;
}
.mt10{
	margin-top:10px;
}
a{
	text-decoration:none;
}
ul li{
	list-style:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
/*预定义样式结束*/

#max{											/*最大的盒子*/
	width:1350px;									
	
	/*border: 1px solid red;*/

}

/*头部样式*/

/*头1开始*/

.tou1{											/*导航条1*/
	width:100%;
	height:45px;
	/*border: 1px solid red;*/
	background:#0092D8;
}
.tou1_l{
	width:120px;
	height:100%;
	/*border: 1px solid red;*/
}
.tou1_l img{
	width:100%;
	height:45px;
}
.tou1_c{
	width:50%;
	height:100%;
	/*border: 1px solid red;*/
	
}
.tou1_c ul li{
	float:left;
	padding:0 30px;
	line-height:45px;
}
.tou1_c a{
	color:#63BFF0;
	font-size:13px;
}
.tou1_c a:hover{
	color:#fff;
}
.tou1_r{
	width:285px;
	height:45px;
	/*border: 1px solid red;*/
}
.tou1_r_1{
	width:65px;
	height:45px;
	/*border: 1px solid red;*/
}

.tou1_r_4{
	width:88px;
	height:45px;
	/*border: 1px solid red;*/
}


.tou1_r_1:hover{
	background:#005F8E;
}
.tou1_r_4:hover{
	background:#005F8E;
}
.tou1_r_4 span{
	display:block;
	margin:15px 0px 0px 28px;
}
.gwctc{											/*购物车弹窗*/
	width:360px;
	height:80px;
	border: 1px solid #ccc;
	position:absolute;
	top:45px;
	left:898px;
	background:#fff;
	display:none;
}
.gwctc span{
	display:block;
	margin-left:95px;
	line-height:80px;
	font-size:14px;
}
.tc3:hover .gwctc{
	display:block;
}
.sjtc{												/*二维码弹窗*/
	width:367px;
	height:253px;
	border: 1px solid #ccc;					
	position:absolute;
	top:45px;
	left:825px;
	display:none;
}
.tc2:hover .sjtc{
	display:block;
}
.dltc{												/*登录弹窗*/
	width:250px;
	height:233px;
	border: 1px solid #ddd;
	position:absolute;
	top:45px;
	left:1097px;
	display:none;
	background:#fff;
}
.tou1_r_4:hover .dltc{
	display:block;
}
.dltc ul li{
	width:230px;
	height:38px;
	border-bottom: 1px solid #ccc;
	font-size:14px;
	line-height:38px;
	padding-left:25px;
}
.dw:hover{
	background:#aaa;
}
.bs1:hover .bs2{
	color:#000;
	background:#eee;
}

.sstb{
	display:block;
	width:25px;
	height:25px;
	position:absolute;
	top:12px;
	left:1085px;
}
.sstc{
	width:225px;
	height:44px;
	/*border:1px solid red;*/
	position:absolute;
	top:0px;
	left:845px;
}
.sstc input{
	
	width:220px;
	height:41px;
}
.tou1_r_1 .ssss{
	display:block;
	width:25px;
	height:44px;
	background:red;
}


/*头1结束*/

/*头2开始*/

.tou2{
	width:100%;
	height:25px;
	/*border:1px solid red;*/
	background:#003B66;
	color:#fff;
	letter-spacing:2px;
}
.tou2 marquee{
	font-size:14px;
	line-height:25px;
	text-align:center;
	
}

/*头2结束*/
/*头3开始*/



.tou3{
	width:100%;
	height:40px;
	/*border:1px solid red;*/
}


/*头3结束*/
/*身体开始*/



.st_max{
	width:1350px;
	height:11816px;
	/*border:1px solid red;*/
}
.top{
	width:1190px;
	height:730px;
	/*border:1px solid red;*/
	margin:45px auto;
}
.sptp{
	width:650px;
	height:730px;
	/*border:1px solid red;*/
	text-align:center;
}
.spjs{
	width:536px;
	height:730px;
	/*border:1px solid red;*/
}
.spjs h1{
	font-size:26px;
	margin-bottom:10px;
}

.spjs h5{
	color:red;
	font-size:14px;
	letter-spacing:2px;
	font-family:微软雅黑;
	margin-bottom:5px;
}
.spjs_1{
	width:534px;
	height:70px;
	border:1px solid #F2F2F2;
	background:#F2F2F2;
}
.spjs_1_1{
	width:480px;
	height:40px;
	/*border:1px solid red;*/
	margin:0px auto;
	margin-top:15px;
}
.spjs_1_1 h1{
	color:red;
	font-size:35px;
	float:left;
}
.spjs_1_1 del{
	color:#999;
	float:left;
	margin:20px 0px 0px 15px;
	font-size:14px;
}

.youhui{
	width:534px;
	height:55px;
	border-bottom:1px dashed #ddd;
	
	
}
.youhui h6{
	line-height:55px;
	color:#999;
	width:50px;
}
.youhui_1{
	width:200px;
	height:21px;
	/*border:1px solid red;*/
	margin-top:16px;
}
.youhui_1_l{
	font-size:10px;
	background:red;
	color:#fff;
	padding:5px 10px;
}
.youhui_1_r{
	font-size:10px;
	color:#000;
	margin-left:10px;
}

.lingjuan{
	width:534px;
	height:45px;
	border-bottom:1px dashed #ddd;
}
.lingjuan h6{
	line-height:44px;
	color:#999;
	width:50px;
}
.lingjuan_1{
	width:120px;
	height:22px;
	/*border:1px solid red;*/
	margin-top:11px;
	background:red;
}
.lingjuan_1_l{
	font-size:10px;
	background:red;
	color:#fff;
	padding:5px 10px;
}
.lingjuan_1_r{
	font-size:10px;
	color:#fff;
	border-left:1px dashed #fff;
	padding-left:13px;
}
.pingjia{												/*评价*/
	width:534px;
	height:45px;
	border-bottom:1px solid #ddd;
}
.pingjia h6{
	line-height:44px;
	color:#999;
	width:50px;
}
.pingjia_1{
	width:482px;
	height:44px;
	/*border:1px solid red;*/
}
.pingjia span{
	display:block;
	width:100px;
	float:left;
	margin:7px 10px 0px 0px;
	border:1px solid #ccc;
	height:20px;
	font-size:10px;
	color:#000;
	padding-top:6px;
	text-align:center;
}
														/*颜色*/
.yanse{
	width:534px;
	height:60px;
}
.yanse h6{
	line-height:60px;
	color:#999;
	width:50px;
}
.yanse_1{
	padding:1px;
	border:2px solid red;
	margin-top:10px;
}
.yanse_1 span{
	display:block;
	font-size:13px;
	margin-top:10px;
	color:#000;
}
														/*规格*/
.guige{
	width:534px;
	height:60px;
}
.guige h6{
	line-height:60px;
	color:#999;
	width:50px;
}
.guige_1{
	/*border:1px solid red;*/
	margin-top:13px;
}
.guige_1 span{
	display:block;
	font-size:13px;
	padding:8px 8px;
	margin-right:10px;
	float:left;
	border:2px solid #aaa;
}
.guige span:hover{
	border:2px solid red;
}
													/*数量*/
.shuliang{
	width:534px;
	height:60px;
}
.shuliang h6{
	line-height:60px;
	color:#999;
	width:50px;
}
.shuliang_1 select{
	margin-top:20px;
}
.shuliang_1 span{
	font-size:13px;
}

												/*配送地址*/
.dizhi{
	width:534px;
	height:60px;
}
.dizhi h6{
	line-height:60px;
	color:#999;
	width:50px;
}
.dizhi_1 select{
	margin-top:20px;
}	
.dizhi_1 span{
	font-size:13px;
}													
									/*供货商*/
.gonghuoshang{
	width:534px;
	height:60px;
}
.gonghuoshang h6{
	line-height:60px;
	color:#999;
	width:50px;
}
.gonghuoshang_1 span{
	font-size:13px;
	display:block;
	margin-top:23px;
}	
													/*装按钮的大盒子*/
.anniu_max{
	width:100%;
	height:95px;
	border:1px solid #fff;
}
.anniu_max a{
	display:block;
	width:205px;
	height:40px;
	float:left;
	text-align:center;
	line-height:40px;
	border-radius:2px;
	color:#fff;
	margin-top:10px;
}
.anniu_max .jrgwc{
	background:#0092D8;
}
.anniu_max .ljgm{
	margin-left:10px;
	background:#FF6600;
}
.jrgwc:hover{
	background:#006FA3;
}
.ljgm:hover{
	background:#D95700;
}
.anniu_max span{
	font-size:13px;
}
.anniu_max .biaoshi{
	width:100%;
	height:20px;
	/*border:1px solid red;*/
	margin-top:60px;
}

.wntj_max{
	width:1200px;
	height:320px;
	border:1px solid #ddd;
	margin:0px auto;
}
.wntj_t{
	width:100%;
	height:60px;
	border-bottom:1px solid #ddd;
}
.wntj_b{
	width:1060px;
	height:250px;
	/*border:1px solid red;*/
	margin:0px auto;
}
.wntj_b_sp{
	width:150px;
	height:190px;
	/*border:1px solid red;*/
	float:left;
	margin:30px 30px;
	text-overflow:ellipsis;
	overflow:hidden;
}
.wntj_b_sp img{
	width:150px;
}
.wntj_b_sp span{
	white-space:nowrap;
	font-size:11px;
	color:#463933;
}
.wntj_b h6{
	margin-top:8px;
	color:#FF6637;
	font-size:12px;
	text-align:center;
	font-family:宋体;
	letter-spacing:1.5px;
}
.dht{
	width:1200px;
	height:60px;
	border:1px solid #ddd;
	margin:50px auto;
}
.dht ul li{
	float:left;
	margin-left:45px;
	line-height:60px;
	color:#aaa;
}
.dht ul li:hover{
	color:#000;
}
.dht ul{
	margin:0px 290px;
}
.cp img{
	width:800px;
	display:block;
	margin:0px auto;
}
/*身体结束*/

/*底部样式开始*/
.foot{
	width:1200px;
	height:80px;
	/*border:1px solid red;*/
	margin:20px auto 0px;
}
.foot_t{
	width:100%;
	height:40px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	
}
.foot_t ul li{
	width:148px;
	height:38px;
	/*border:1px solid red;*/
	float:left;
	text-align:center;
	color:#3F3946;
	line-height:40px;
	font-size:13px;
}

.foot_t ul li:hover{
	color:red;
}
.foot_b{
	width:100%;
	height:30px;
	/*border:1px solid red;*/
	text-align:center;
	
}
.foot_b img{
	width:20px;
	margin-top:5px;
}
.foot_b span{
	font-size:13px;
	color:#999;
}
.foot_b a{
	font-size:13px;
	color:#999;
}
.foot_b a:hover{
	color:red;
}
#gd{
	width:60px;
	height:240px;
	/*border:1px solid red;*/
	position:fixed;
	top:330px;
	right:11px;
	
}
#gd ul li a{
	display:block;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	color:#fff;
	background:rgba(64,64,64,0.9);
}
#gd .xian{
	width:100%;
	border-top:1px solid #fff;
}
#gd a:hover{
	background:rgba(64,64,64,0.8);
}











